ServerTrackClient/Service References/ServerTrackServiceReference/SelfHostedServiceConsole1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/SelfHostedServiceConsole?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServerTrack" />
  <xs:complexType name="ArrayOfKeyValueOfstringArrayOfKeyValueOfdateTimeLoadTupleocfyMuyqty7Ep6D1">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringArrayOfKeyValueOfdateTimeLoadTupleocfyMuyqty7Ep6D1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="tns:ArrayOfKeyValueOfdateTimeLoadTupleocfyMuyq" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringArrayOfKeyValueOfdateTimeLoadTupleocfyMuyqty7Ep6D1" nillable="true" type="tns:ArrayOfKeyValueOfstringArrayOfKeyValueOfdateTimeLoadTupleocfyMuyqty7Ep6D1" />
  <xs:complexType name="ArrayOfKeyValueOfdateTimeLoadTupleocfyMuyq">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfdateTimeLoadTupleocfyMuyq">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:dateTime" />
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServerTrack" name="Value" nillable="true" type="q1:LoadTuple" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfdateTimeLoadTupleocfyMuyq" nillable="true" type="tns:ArrayOfKeyValueOfdateTimeLoadTupleocfyMuyq" />
</xs:schema>