ServerTrackClient/Service References/ServerTrackServiceReference/SelfHostedServiceConsole2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServerTrack" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServerTrack" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoadTuple">
    <xs:sequence>
      <xs:element minOccurs="0" name="CPULoad" type="xs:double" />
      <xs:element minOccurs="0" name="RAMLoad" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoadTuple" nillable="true" type="tns:LoadTuple" />
</xs:schema>