ServerTrackClient/Service References/ServerTrackServiceReference/ServerTrackService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServerTrackService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/SelfHostedServiceConsole?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/SelfHostedServiceConsole?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/SelfHostedServiceConsole?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost/SelfHostedServiceConsole?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServerTrack" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServerTrackService_RecordServerLoad_InputMessage">
    <wsdl:part name="parameters" element="tns:RecordServerLoad" />
  </wsdl:message>
  <wsdl:message name="IServerTrackService_RecordServerLoad_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecordServerLoadResponse" />
  </wsdl:message>
  <wsdl:message name="IServerTrackService_DisplayServerLoad_InputMessage">
    <wsdl:part name="parameters" element="tns:DisplayServerLoad" />
  </wsdl:message>
  <wsdl:message name="IServerTrackService_DisplayServerLoad_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisplayServerLoadResponse" />
  </wsdl:message>
  <wsdl:portType name="IServerTrackService">
    <wsdl:operation name="RecordServerLoad">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerTrackService/RecordServerLoad" message="tns:IServerTrackService_RecordServerLoad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerTrackService/RecordServerLoadResponse" message="tns:IServerTrackService_RecordServerLoad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisplayServerLoad">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerTrackService/DisplayServerLoad" message="tns:IServerTrackService_DisplayServerLoad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerTrackService/DisplayServerLoadResponse" message="tns:IServerTrackService_DisplayServerLoad_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServerTrackService" type="tns:IServerTrackService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecordServerLoad">
      <soap:operation soapAction="http://tempuri.org/IServerTrackService/RecordServerLoad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisplayServerLoad">
      <soap:operation soapAction="http://tempuri.org/IServerTrackService/DisplayServerLoad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServerTrackService">
    <wsdl:port name="BasicHttpBinding_IServerTrackService" binding="tns:BasicHttpBinding_IServerTrackService">
      <soap:address location="http://localhost/SelfHostedServiceConsole" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>